html, body {
    padding: 0;
    margin: 0;
    /* background-color: black; */
    /* color: red; */
    font-family: Helvetica;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

button {
    margin: 5px;
    padding: 5px;
}

img {
    border: 2px solid black;
    border-radius: 5px;
    margin: 25px;
}

img:hover {
    /* background-color: red; */
    /* border: 3px solid red; */
    transform: scale(1.1);
    /* box-shadow: 10px; */
}

#scoreBoard {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

.moves {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
}

#scoreBoard p {
    margin: 5px;
    padding: 5px;
}

#results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    transform: scale(0);
}